<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css">
</head>

<body style="background-color: rgb(241,247,252);">
    <div class="d-md-flex contact-clean" style="padding-top: auto;padding-bottom: auto;height: 100%;margin-top: auto;margin-bottom: auto;">
        <form action = "/result" method = "POST" style = "margin-top: auto;margin-bottom: auto;">
            <h2 class="text-center" style="margin-bottom: 20px;">What's their mood?</h2>
            <p class="text-center" style="margin-bottom: 21px;">Check any Twitter user's mood based on their tweets in the past day.</p>
            <div class="form-group"><input class="form-control" type = "text" name = "Username" placeholder="Twitter Username" style="text-align: center"></div>
            <div class="form-group d-md-flex justify-content-md-center" style="padding-right: auto;padding-left: 0;"><button class="btn btn-primary d-md-flex justify-content-md-center align-items-md-center" type="submit">send </button></div>
        </form>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>